
html,body{
	height: 100%;
}

html,body,p,dl,h1,h2,h3,h4,h5,a,ul,ol{
	margin: 0px;
	padding: 0px;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
.root{
	height: 100%;
	&>div{
		height: 100%;
		display: flex;
	    flex-direction: column;
	}
}

